
<% layout("/layouts/boilerplate.ejs") %>

<body>

    <!-- request for createRequest -->
    <% if(nav.createRequest) { %>
        <div class="select-rqst">
            <h1>Please Select the Request :</h1>
            <a href="/home/createGuestRequest">Create a Guest Accomodation Request</a>
            <a href="/leaveRequest/<%= user.id %>">Make a Leave Request</a>
            <a href="/otherRequest/<%= user.id %>">Make Other Requests</a>
        </div>
    <% } %>

    <!-- request for account details -->
    <% if(nav.showAccount) { %>
    <div class="account">
        <div class="account-icon">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="account-body">
            <p class="account-text"> Name : <b><%= user.name %></b></p>
            <p class="account-text">Working As : <b><%= user.user_type %></b></p>
            <p class="account-text">Department : <b><%= user.department %></b></p>
            <form action="#">
                <button class="edit-btn">Edit Account</button>
            </form>
        </div>
    </div>
    <% } %>

</body>
