<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/report.css"/>
</head>
<body>
    <div class="report">
        <div class="header">
            <span><img class="logo" src="/assets/mite-logo-org.png" alt="logo"></span>
            <h2>Mangalore Institute of Technology & Engineering </h2>
        </div>
        <h3>Guest Accommodation Report</h3>
        <div class="guestContainer">
            <h4>Guest Details</h4>
            <% for(let gst of guest) {%>
                <div class="gst">
                    <h5>Name: <%= gst.name %></h5>
                    <div class="dtl">
                        <p><%= gst.guestInfo %></p>
                    </div>
                    <div class="arrival-dtl">
                        <p>Arrival Date: <%= gst.arrivalDate.toString().split('T')[0] %></p>
                        <p>Arrial Time : <%= gst.arrivalTime %></p>
                        <p>Leaving Date: <%= gst.leavingDate.toString().split('T')[0] %></p>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="arrival-reason">
            <p><%= guestRequest.reasonOfArrival %></p>
        </div>

        <div class="approval-status">
            <% if(guestRequest.requestStatus == "AHAPAW"){%>
            <p>Approved by: HOD </p>
            <p>Approved by: Principal </p>
            <p>Approved By: Wardon </p>
            <% } %>
        </div>   
    </div>
    <button onclick="downloadPdf()">DownloadPdf</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js"></script>
    <script src="/js/report.js"></script>
</body>
</html>
