<% layout('layouts/boilerplate.ejs') %>

<div class="showAllRequest-container col-11 p-2">
    <% if(user.userType != "warden" && user.userType != "messManager") {%>
        <% if(guestRequestData.length == 0) {%>
            <h5 class="align-text-center">No Request</h5>
        <% } %>
        <% for(let guestRequest of guestRequestData) {%>
            <div class="row border-bottom border-black showAllRequestDetails m-2">
                <h3 class="position-relative">Guest Request
                    <% if((user.userType == 'hod' && guestRequest.requestStatus.toString() == "NHNPNWNM") || (user.userType == 'principal'&& guestRequest.requestStatus.toString() == "AHNPNWNM")) {%>
                        <span class="position-absolute bottom-0 translate-middle p-2 bg-danger border border-light rounded-circle"
                        style="height: 5px; width: 5px; left: 15rem;">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    <% } %>
                </h3>
                <p class="req-date col-2 ms-2 p-1 ps-2"><%= guestRequest.createdDate.toLocaleString('en-US', {day: '2-digit', month: 'long', year: 'numeric'}) %></p>
                <p class="req-from col-2 ms-2 p-1 ps-2">From: <%= guestRequest.name %></p>
                <% if(guestRequest.requestStatus.toString()[0] == 'R') {%>
                    <p class="rejected p-1 col-2">Request Rejected</p>
                <% }else if(guestRequest.requestStatus.toString()[0] == 'N') {%>
                    <p class="pending p-1 col-3">Hod Approval Pending</p>
                <% }else if(guestRequest.requestStatus.toString()[2] == 'N') {%>
                    <p class="pending p-1 col-3">Principal Approval Pending...</p>
                <% }else if(guestRequest.requestStatus.toString()[4] == 'N') { %>
                    <p class="pending p-1 col-3">Warden Approval Pending...</p>
                <% }else if(guestRequest.requestStatus.toString()[6] == 'N') {%>
                    <p class="pending p-1 col-3">Mess Manager Approval Pending...</p>
                <% }else if(guestRequest.requestStatus.toString()[6] == 'A' && guestRequest.requestStatus.toString()[4] == 'A') { %>
                    <p class="accepted p-1 col-2">Request Approved</p>
                <% } %>
                <div class="row m-2 p-0">
                    <form action="/guestRequest/<%= guestRequest.id %>" method="GET" class="p-0 col-2">
                        <button class="btn col-12" style="background-color: rgb(61, 61, 209); color: white">View</button>
                    </form>
                </div>
            </div>
        <% } %>
    <% } %>
    <% if(user.userType == "warden" || user.userType == "messManager") {%>
        <% if(guestRequestData.length == 0) {%>
            <h5 class="align-text-center">No Request</h5>
        <% } else {%>
            <% for(let guestRequest of guestRequestData) {%>
                <% if(user.userType == "messManager" && guestRequest.requestStatus == "AHAPNWNM") {%>
                    <h5 class="align-text-center">No Request</h5>
                <% } else{%>
                    <div class="row border-bottom border-black showAllRequestDetails m-2">
                        <h3 class="position-relative">Guest Request
                            <% if((user.userType == 'warden' && guestRequest.requestStatus.toString() == "AHAPNWNM") || (user.userType == 'messManager'&& guestRequest.requestStatus.toString() == "AHAPAWNM")) {%>
                                <span class="position-absolute bottom-0 translate-middle p-2 bg-danger border border-light rounded-circle"
                                style="height: 5px; width: 5px; left: 15rem;">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            <% } %>
                        </h3>
                        <p class="req-date col-2 ms-2 p-1 ps-2"><%= guestRequest.createdDate.toLocaleString('en-US', {day: '2-digit', month: 'long', year: 'numeric'}) %></p>
                        <p class="req-from col-2 ms-2 p-1 ps-2">From: Principal MITE</p>
                        <% if(guestRequest.requestStatus == "AHAPAW") {%>
                            <p class="accepted p-1 col-1">Approved</p>
                        <% } %>
                        <% if(guestRequest.requestStatus == "RW") {%>
                            <p class="rejected p-1 col-1">Rejected</p>
                        <% } %>
                        <div class="row m-2 p-0">
                            <form action="/guestRequest/<%= guestRequest.id %>/warden" method="GET" class="p-0 col-2">
                                <button class="btn col-12" style="background-color: rgb(61, 61, 209); color: white">View</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <% } %>
    <% } %>
</div>
